/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  font-size: 14px;
}

button {
  outline: none !important;
}

.text-bold {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #4a2f72;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  font-size: 14px;
}

.mat-bottom-sheet-container{
  max-height: 90vh!important;
}

.mat-bottom-sheet-container-medium,
.mat-bottom-sheet-container-large {
  min-width: 100vw !important;
  max-width: 100vw !important;
}

mat-paginator {
  .mat-form-field-infix {
    border: none;
  }

  .mat-select-arrow-wrapper {
    transform: translateY(2%)!important;
  }
}
