:host {
  .stt {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #2392ec;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    top: 43px;
    left: 45px;
    font-weight: 600;
    z-index: 11;
  }
}
