<div class="personal-channel-container mt-2">
    <ng-container *ngIf="expression; else elseTemplate">
        
    </ng-container>
    <ng-template #elseTemplate>
        <div class="mb-5">
            <div class="text-bold text-align-center title">Tạo một kênh mới và đăng tải đề thi online thật dễ dàng</div>
            <div class="text-bold text-align-center title-samll">Bạn biết không? Việc tạo đề thi Online dễ dàng hơn bạn nghĩ, chỉ một cú nhấp chuột Đề thi của bạn đã có trên Studio!</div>
        </div>
        <div class="d-flex flex-wrap mb-4">
            <div class="col-md-3">
                <div class="block-wrap justify-content-center">
                    <div class="img img-user"></div>
                    <div class="text-align-center text-bold">0</div>
                    <div class="text-align-center">Thành viên</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block-wrap justify-content-center">
                    <div class="img img-question"></div>
                    <div class="text-align-center text-bold">0</div>
                    <div class="text-align-center">câu hỏi</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block-wrap justify-content-center">
                    <div class="img img-book"></div>
                    <div class="text-align-center text-bold">0</div>
                    <div class="text-align-center">Đề thi</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block-wrap justify-content-center">
                    <div class="img img-title"></div>
                    <div class="text-align-center text-bold">0</div>
                    <div class="text-align-center">Chủ đề</div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap align-items-center">
            <div class="col-md-6">
                <div>
                    <div class="title text-bold mb-3">Trở thành kênh chính thức để tiếp cận nhiều người dùng hơn</div>
                    <div class="title-samll mb-2">Trở thành kênh chính thức, đề thi Online sẽ hiển thị tại trang chủ của người thi dựa theo các chủ đề. Để trở thành kênh chính thức bạn cần đạt các điều kiện sau:</div>
                    <div class="d-flex align-items-center mb-1">
                        <mat-icon color="#4a2f72">check_circle</mat-icon>
                        <div class="ml-2 title-samll">Có trên 100 theo dõi.</div>
                    </div>
                    <div class="d-flex align-items-center mb-1">
                        <mat-icon color="#4a2f72">check_circle</mat-icon>
                        <div class="ml-2 title-samll">Đạt 4 sao đánh giá trở lên.</div>
                    </div>
                    <div class="d-flex align-items-center mb-1">
                        <mat-icon color="#4a2f72">check_circle</mat-icon>
                        <div class="ml-2 title-samll">Được đội ngũ Admin kiểm duyệt kênh.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div class="img-sugest img-easy"></div>
            </div>
        </div>
        <div class="d-flex flex-wrap align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="img-sugest img-makemoney"></div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="title text-bold mb-3">Nhiều ưu đãi dành cho Kênh chính thức</div>
                    <div class="title-samll mb-2">Trở thành kênh chính thức, không chỉ Đăng tải đề thi Online mà bạn có cơ hội trở thành đối tác của Exam24h với nhiều ưu đãi hấp dẫn:</div>
                    <div class="d-flex align-items-center mb-1">
                        <mat-icon color="#4a2f72">check_circle</mat-icon>
                        <div class="ml-2 title-samll">Nhận nhuận bút từ lời giải chi tiết.</div>
                    </div>
                    <div class="d-flex align-items-center mb-1">
                        <mat-icon color="#4a2f72">check_circle</mat-icon>
                        <div class="ml-2 title-samll">Nhận ưu đãi từ những lượt thi.</div>
                    </div>
                    <div class="d-flex align-items-center mb-1">
                        <mat-icon color="#4a2f72">check_circle</mat-icon>
                        <div class="ml-2 title-samll">Tham gia các sự kiện với tư cách đối tác.
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="search-wrap mb-3 d-flex justify-content-center align-items-center">
            <input type="text" placeholder="Nhập tên kênh của bạn">
        </div>
        <div class="d-flex justify-content-center mb-5">
            <button mat-flat-button class="mr-2" color="primary">Tiếp tục</button>
            <button mat-button>Quay lại</button>
        </div>
        
    </ng-template>
    
    
</div>