:host {
  .rank {
    width: 40px;
    border-radius: 5px;
    border: 2px solid;
    background-color: #dac2ff;
  }
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(/assets/Image/brand-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ccc;
  }

}
