<div class="pl-1 pr-1">
  <div class="brand-img mb-2"></div>
  <div class="mb-3  pl-5 pr-5 title-chanel d-flex flex-wrap align-items-center justify-content-between">
    <div class="d-flex flex-wrap align-items-center">
      <div class="avatar">
      </div>
      <div class="ml-2">
        <div class="text-bold">Luyện Thi Hóa Học</div>
        <div class="small-text">100 lượt yêu thích</div>
      </div>
    </div>
    <button mat-stroked-button color="primary" style="width: 200px; height: 36px;">Like</button>
  </div>
  <div class="chanel-tab d-flex flex-wrap">
    <div class="col-md-9">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Đề thi Online">
          <div class="content-tab">
            <h4> Danh sách đề thi</h4>
            <div class="d-flex flex-wrap mb-2">
              <app-test (click)="goToTestById(test)" class="col-xl-4 col-md-6 col-sm-6" *ngFor="let test of listTest" [test]="test">
              </app-test>
            </div>
          </div>
          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </mat-tab>
        <mat-tab label="Đề thi Offline">
          <div class="content-tab">
            <h4> Danh sách đề thi</h4>
            <div class="d-flex flex-wrap mb-2">
              <app-test (click)="goToTestById(test)" class="col-xl-4 col-md-6 col-sm-6" *ngFor="let test of listTest" [test]="test">
              </app-test>
            </div>
          </div>
          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </mat-tab>
        <mat-tab label="Thông tin">
          <app-info-channel></app-info-channel>
        </mat-tab>
      </mat-tab-group>

    </div>
    <div class="col-md-3">
      <div style="margin-top: 90px;">
        <div class="title mb-3 text-bold">
          Tìm kiếm đề thi
        </div>
        <div class="search-wrap mb-3 d-flex justify-content-center align-items-center">
          <input type="text" placeholder="Nhập từ khóa tìm kiếm">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <div class="text-bold">
        Lọc theo chủ đề
      </div>
      <div class="d-flex flex-wrap">
        <app-item-tag *ngFor="let title of listTitles" [Item]="title" class="col-xl-6 col-md-12"></app-item-tag>
      </div>
    </div>
  </div>
</div>
